form(action="/updateUser" method="post")
    label First
        input( type="text" name="first" id="first" value=user.first)
    label Last
        input(type="text" name="last" id="last" value=user.last)
    label E-mail
        input( type="text" name="email" id="email" value=user.email)
    label Age
        input( type="number" name="age" id="age" value=user.age)
    label Phone
        input( type="text" name="phone" id="phone" value=user.phone)
    label Address
        input( type="text" name="address" id="address" value=user.address)
    label(hidden) ID
        input(hidden type="text" name="_id" id="_id" value=user._id)
    input( type="submit")