head
    title Users Creation Page
body
    div
        h1(class='myClass' id="headerId") User Display Page
        a(href='createUser') Create a User
    div
        table
            tr
                th First
                th Last
                th E-mail
                th Age
                th Phone
                th Address
            each val in users
                tr
                    td #{val.name.first}
                    td #{val.name.last}
                    td #{val.email}
                    td #{val.age}
                    td #{val.phone}
                    td #{val.address}
                    td
                        a(href='edit/' + val.name.first +  val.name.last) Edit
                    td
                        a(href='delete/' + val.name.first +  val.name.last) Delete

