head
    title Users Creation Page
body
    div
        h1(class='myClass' id="headerId") User Display Page
    div
        a(href='createUser') Create a User
    div
        form(action="/search" method="get")
            label Search
                input(type="text" name="search" id="search" placeholder="Search by Name")
            input(type="submit")
    div
        table
            tr
                td
                    a(class='button' href='/filterNameAsc') asc
                    a(class='button' href='/filterNameDsc') dsc
                //td
                //    a(class='button' href='/filtered') asc
                //    a(class='button' href='/filtered') dsc
                //td
                //    a(class='button' href='/filtered') asc
                //    a(class='button' href='/filtered') dsc
                //td
                //    a(class='button' href='/filtered') asc
                //    a(class='button' href='/filtered') dsc
                //td
                //    a(class='button' href='/filtered') asc
                //    a(class='button' href='/filtered') dsc
                //td
                //    a(class='button' href='/filtered') asc
                //    a(class='button' href='/filtered') dsc
            tr
                th First
                th Last
                th E-mail
                th Age
                th Phone
                th Address
            each val in users
                tr
                    td #{val.name.first}
                    td #{val.name.last}
                    td #{val.email}
                    td #{val.age}
                    td #{val.phone}
                    td #{val.address}
                    td
                        a(href='edit/' + val._id) Edit
                    td
                        a(href='delete/' + val._id) Delete

